

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0.2rem 3rem;
}
.img-fluid{
    width: 100%;
}
#mybtn{
    right: 0;
    top: 10em;
    left: 0;
    bottom: 0;
    width: 174px;
    height: 40px;
    margin: auto;
    position: sticky;
    transition : all 0.35s;
    z-index: 1;


}
#logo{
    color: white;
}
.head-img>img{
    width: 100%;
    height: 426px;
    position: absolute;
}
.photoghrapher1{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.row h6{
    text-align: center;
}
.row p{
    text-align: center;
}
.team{
    padding-top: 50px;
    padding-bottom: 32px;
    text-align: center;
}
.team1{
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.btn{

    right: 0;
    left: 0;
    margin: auto;
}
.work{
    padding-top: 30px;
    padding-bottom: 20px;
}
.h4-my{
    text-align: center;
}
.box:hover{
    transform: scale(1.05);
    transition : all 0.35s;
}
.price{
     padding-top: 50px;
     text-align: center;
 }
.price1{
    text-align: center;
}
.myorderlist{
    list-style: none;
}
.contact-list{

    list-style: none;
}
.contact-list>li{
    color: white;
}
.myfont{
    color: white;
}
#contct{
    padding-top: 20px;
    padding-bottom: 10px;

}
.social{
    list-style: none;
    margin: 0;
    text-align: center;
}
.social>li{
    display: inline;
    color: white;
    font-size: 23px;
}
.social>li:hover{
    /*color: gold;
    cursor: pointer;*/
    background-color: #c2f1ff;
    box-shadow: 0 0 10px #3971ff,0 0 40px #3971ff,0 0 80px #3971ff;
    color: black;
    transition : all 0.35s;
}
.thnax{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(250, 244, 244, 0.9);
}
